@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Unica+One&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: #023047;
}

body,
input,
button {
  font-family: 'Poppins';
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.nav {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  text-align: center;
  margin-top: 30px;
}

.navbar__logo {
  width: 100px;
}

.navbar-favorites {
  color: #ffb703;
  display: flex;
  align-items: center;
  gap: 8px;
}
.searchbar-container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.searchbar {
  background-color: #fff;
  margin-right: 20px;
  border: none;
  border-radius: 6px;
}

.searchbar-container input {
  padding: 10px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
}

.searchbar-btn-search {
  background-color: #ffb703;
  border: 1px solid #023047;
  border-radius: 10px;
  padding: 10px 12px;
  font-weight: bold;
  color: #000;
}

.pokemon-container {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* 
* Pokedex
*/

.pokedex {
  margin-top: 30px;
}
.pokedex-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.pokedex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'Unica One', cursive;
  font-size: 38px;
  color: #ffb703;
}

.pokedex-paginacao {
  color: #fff;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  color: #fff;
}

.pagination button {
  border: none;
  background-color: transparent;
}

.pokedex-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);

  margin: 20px;
}

.pokemon-card {
  background-color: #ffb703;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
}

.pokemon-card .pokemon-name {
  color: #023047;
  display: flex;
  flex-direction: column;
}

.pokemon-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card-name {
  color: #023047;
}

.pokemon-card-button {
  border: none;
  background: transparent;
}

.pokemon-card-top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pokemon-card-bottom {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 8px;
  flex-direction: column;
}

.pokemon-card-img {
  width: 80px;
}

.material-symbols-outlined {
  color: #fb8500;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 100, 'opsz' 48;
}

@media only screen and (max-width: 900px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
